---
import Header from "@/components/landing/Header.astro";
import Hero from "@/components/landing/Hero.astro";
import AboutUs from "@/components/landing/AboutUs.astro";
import Services from "@/components/landing/Services.astro";
import FAQ from "@/components/landing/FAQ.astro";
import Map from "@/components/landing/Map.astro";
import Footer from "@/components/landing/Footer.astro";
import Brands from "./Brands.astro";
---

<main class="flex flex-col gap-5 pl-25 pr-25 pt-5">
  <Header />
  <div class="flex flex-col gap-75">
    <Hero />
    <AboutUs />
    <Brands />
    <Services />
    <Map />
    <FAQ />
  </div>
  <Footer />
</main>
