---
import Hero from "@/components/landing/Hero.astro";
import AboutUs from "@/components/landing/AboutUs.astro";
import Services from "@/components/landing/Services.astro";
import FAQ from "@/components/landing/FAQ.astro";
import Map from "@/components/landing/Map.astro";
import Brands from "./Brands.astro";
---

<main>
  <div class="flex flex-col gap-25">
    <Hero
      imageSrc="/img/hero/Hero1.webp"
      altText="Sala de operaciones moderna"
      title="AXIS-MED: Su Aliado de Confianza en Tecnología Médica de Vanguardia"
    />

    <div id="about" class="px-4 md:px-15">
      <AboutUs />
    </div>

    <div id="brands" class="px-4 md:px-15">
      <Brands />
    </div>

    <div id="services">
      <Services />
    </div>

    <div id="map">
      <Map />
    </div>

    <div id="faq">
      <FAQ />
    </div>
  </div>
</main>
