---
import Title from "@/components/fonts/Title.astro";
import QuestionBadge from "@/components/badges/QuestionBadge.astro";
import { FAQs } from "@/constans/Faqs";
---

<section
  class="relative w-full bg-[#2583C5]/20 flex flex-col gap-10
    p-6 sm:p-10 md:p-15"
>
  <div class="flex flex-col gap-10 text-center items-center">
    <!-- Título: tamaño reducido en mobile -->
    <Title title="Preguntas frecuentes" />

    <!-- Contenedor de preguntas -->
    <div class="flex flex-col gap-6 sm:gap-10 text-left w-full ">
      {
        FAQs.map((faq) => (
          <QuestionBadge question={faq.question} answer={faq.answer} />
        ))
      }
    </div>
  </div>
</section>
