---
import AxisLogo from "@/assets/logo.svg";
import { Solutions } from "@/constans/Solutions";
---
<header class="flex justify-between items-center w-full relative">
  <a href="/"><AxisLogo class="w-50 h-auto" /></a>

  <div class="flex justify-between gap-6 relative">
    <nav><a href="/">Inicio</a></nav>
    <nav><a href="/#about">¿Quiénes somos?</a></nav>

    <div class="relative group">
      <nav class="cursor-pointer">Soluciones</nav>

      <div
        class="absolute left-0 hidden group-hover:block bg-white shadow-lg rounded-md p-3 w-48 z-50"
      >
        {Solutions.map((item) => (
          <a
            href={item.href}
            class="block px-3 py-2 hover:bg-gray-200 rounded-md"
          >
            {item.name}
          </a>
        ))}
      </div>
    </div>

    <nav><a href="/contact">Contacto</a></nav>
    <nav>Soporte técnico</nav>
  </div>
</header>

