---
import AxisLogo from "@/assets/logo.svg";
---

<header class="flex justify-between items-center w-full ">
  <a href="/"><AxisLogo class="w-100 h-auto" /></a>
  <div class="flex justify-between gap-6">
    <nav>Inicio</nav>
    <nav>¿Quiénes somos?</nav>
    <nav>Servicios</nav>
    <nav>Contacto</nav>
    <nav>Soporte técnico</nav>
  </div>
</header>
