---
interface Props {
  imageSrc?: string;
  altText?: string;
  title?: string;
}

const { imageSrc, altText, title } = Astro.props;
---

<section
  class="relative w-full left-1/2 -translate-x-1/2 h-80 sm:h-[380px] md:h-[500px] lg:h-[600px] overflow-hidden"
>
  <!-- Imagen -->
  <img
    src={imageSrc}
    alt={altText}
    class="absolute inset-0 w-full h-full object-cover"
  />

  <!-- Contenido -->
  <div class="absolute inset-0 flex items-center px-4 sm:px-8 md:px-12">
    <div
      class="bg-[#253D5A]/70 p-4 sm:p-6 md:p-10 lg:p-12 rounded-r-xl max-w-xs sm:max-w-md md:max-w-xl"
    >
      <h1
        class="text-white font-bold leading-snug text-xl sm:text-2xl md:text-4xl lg:text-5xl"
      >
        {title}
      </h1>
    </div>
  </div>
</section>
