---
import Title from "@/components/fonts/Title.astro";
import Banner from "@/components/landing/Banner.astro";
---

<section class="text-center">
  <Title title="Encuéntranos" />
  <div
    class="relative w-full bg-[#2583C5]/20 flex flex-col gap-16 p-15 text-center h-[600px] mt-8"
  >
    <p>Mapa</p>
  </div>

  <Banner />
</section>
