---
import ServiceCard from "@/components/cards/ServiceCard.astro";
import ContactButton from "@/components/buttons/ContactButton.astro";
import { products } from "@/constans/Products";
---

<section class="w-full bg-[#2583C5]/20">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-12 md:py-16">
    <!-- Título -->
    <p class="font-black text-2xl sm:text-3xl lg:text-4xl mb-8">Soluciones y productos</p>

    <!-- Grid responsive: 1 / 2 / 3 columnas -->
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 md:gap-8 ">
      {
        products.map((product) => (
          <a href={product.link} class="block group">
            <div class="h-full flex flex-col items-center">
              <!-- Si tu ServiceCard ya maneja imagen y texto, solo lo envolvemos -->
              <ServiceCard
                imgSrc={product.img}
                alt={product.title}
                description={product.title}
              />
            </div>
          </a>
        ))
      }
    </div>

    <!-- Botón de contacto -->
    <div class="flex justify-center mt-8">
      <ContactButton />
    </div>
  </div>
</section>
