<button
  class="bg-[#2583C5]
         px-3 py-2 sm:px-4 sm:py-3
         text-white
         rounded-2xl
         w-fit
         text-sm sm:text-lg
         font-semibold
         cursor-pointer
         hover:bg-[#1E6BB0]
         transition-colors"
>
  <a href="mailto:axismed.info@gmail.com">Contáctanos</a>
</button>
