---
import Header from '@/components/content/Header.astro';
---

<div id="container">
  <main>
    <Header/>
  </main>
</div>

<style>
	#container {
		font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
		height: 100%;
    padding:1% 5%;
	}

</style>
