---
import Layout from "@/layouts/Layout.astro";
import Hero from "@/components/landing/Hero.astro";
---

<Layout>
  <div class="flex flex-col gap-12">
    <Hero
      imageSrc="/img/support/support.webp"
      altText="Soporte técnico brindando ayuda"
      title="AXIS-MED: Te apoyamos con soluciones técnicas confiables y eficientes en todo momento"
    />
  </div>
</Layout>