---
import Layout from "@/layouts/Layout.astro";
import Title from "@/components/fonts/Title.astro";
import Hero from "@/components/landing/Hero.astro";
import Banner from "@/components/landing/Banner.astro";
---
<Layout>
  <div class="flex flex-col gap-12">
    <Hero 
      imageSrc="/img/surgery/instruments.webp" 
      altText="Instrumentos quirúrgicos" 
      title="AXIS-MED: Somos tu mejor aliado para el éxito quirúrgico, confiable y avanzado"/>
    <Title title="Cirugía"/>

    <Banner 
      title="Instrumental Quirúrgico de alta calidad "
      imgSrc="/img/surgery/doctor.webp"
      alt="Sala de operaciones moderna"
      description="En AXIS-MED, ofrecemos soluciones quirúrgicas avanzadas que combinan tecnología de punta con un compromiso inquebrantable con la seguridad y el bienestar del paciente. Nuestro equipo de expertos trabaja estrechamente con profesionales de la salud para proporcionar equipos y dispositivos que optimizan los resultados quirúrgicos y mejoran la experiencia del paciente."
    />
  </div>
</Layout>